/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-wrapper {
  flex-grow: 1;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fff;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  position: relative;
}

/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  z-index: 1000;
  width: 100%;
  position: fixed;
  display: flex;
}

nav {
  flex-grow: 1;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.logo img {
  width: 25px;
  height: auto;
}

/* Card styles */
.card {
  position: absolute;
  width: 350px;
  height: 190px;
  background: #c4dce9;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  margin: auto;
  border-radius: 20px;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
}

.content,
.imgBx {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.imgBx {
  position: absolute;
  left: calc(50% - 75px);
  top: -50px;
  width: 150px;
  height: 150px;
  background-color: #2ecc71;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}

.imgBx img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.details {
  text-align: center;
  padding: 20px;
  bottom: 0;
}

.details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #000;
  line-height: 1.2em;
}

.details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.9;
}

/* Navigation links styles */
.nav-links,
.social-links {
  display: flex;
  list-style: none;
}

.nav-links a,
.social-links a {
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a,
h1 {
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

.nav-links {
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  color: #1a1a1a;
  font-size: 18px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #228b22;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: transform 0.4s ease;
}

.nav-links a:focus::after,
.nav-links a:hover::after {
  transform: scaleX(1);
}

.nav-links a:focus,
.nav-links a:hover {
  color: #228b22;
}

/* Social links styles */
.social-links {
  align-items: baseline;
}

.social-links a {
  margin-left: 1rem;
  color: #fff;
}

.social-links a:hover {
  color: #ccc;
}

.social-links img {
  width: 24px;
}

/* Resume button styles */
.resume-pill {
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid #2ecc71;
  border-radius: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: black !important;
  position: relative;
  overflow: hidden;
}

.resume-pill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #2ecc71;
  border-radius: 25px;
  z-index: -1;
  transition: width 0.4s ease;
}

.resume-pill:hover {
  color: #ffffff !important;
}

.resume-pill:hover::before {
  width: 100%;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #203923;
  transition: 0.3s;
}

.hamburger span:first-child,
.hamburger span:nth-child(3) {
  transition: transform 0.3s, top 0.3s, bottom 0.3s;
}

.hamburger span:nth-child(2) {
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger.active span:first-child {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* Media query styles */
@media (max-width: 768px) {
  .navbar {
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out;
  }
  .navbar.hidden {
    transform: translateY(-100%);
  }
  .nav-links,
  .social-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    padding: 5rem 1rem 2rem;
    overflow-y: auto;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 0;
  }

  .nav-links.show {
    transform: translateX(0);
  }

  .nav-links.active li {
    margin-top: 1.5rem;
  }

  .nav-links.active li:first-child {
    margin-top: 0;
  }

  .social-links.active {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
  }

  .social-links.active li {
    margin-left: 1rem;
  }

  .social-links.active li:first-child {
    margin-left: 0;
  }

  .parallax-container {
    display: none;
  }

  .parallax-container:first-of-type {
    display: block;
    width: 100%;
  }

  .mobile-parallax-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  .about-card {
    width: 90% !important;
    margin: 0 auto;
    padding: 30px !important;
  }
}

@media (min-width: 769px) {
}

/* Grid container styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh 100vh;
  grid-template-areas: "main ." "about about";
}

/* Parallax styles */
.parallax-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.parallax-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  bottom: 0;
  justify-content: flex-end;
}

.rellax-layer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -8px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
}

.rellax-layer img {
  width: 100%;
  height: auto;
}
.rellax-layer1 {
  z-index: 1;
}

.rellax-layer2 {
  z-index: 2;
}

.rellax-layer3 {
  z-index: 3;
}

.rellax-layer4 {
  z-index: 4;
}

.rellax-layer5 {
  z-index: 5;
}

/* About section styles */
.background-layer {
  background-color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.about-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-card {
  max-width: 900px;
  width: 100%;
  background: #c4dce9;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  z-index: 10;
  justify-content: center;
}

.about-card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-card p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #2f231b;
}

/* Projects section styles */
.projects-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.projects-card {
  max-width: 900px;
  width: 100%;
  background: #c4dce9;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  z-index: 10;
  justify-content: center;
}

.projects-card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.projects-card p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #2f231b;
}

/* Contact section styles */
.contact-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-card {
  max-width: 900px;
  width: 100%;
  background: #c4dce9;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  z-index: 10;
  justify-content: center;
}

.contact-card h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-card p {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #2f231b;
}

/* Accessablity */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Hide scrollbar */
html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
