/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Logo */
.logo img {
  width: 100px;
}

/* Navigation */
nav {
  flex-grow: 1;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

/* Page Links */
.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  list-style: none;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  color: #32cd32;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.nav-links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #228b22;
  transition: all 0.4s ease;
  transform: translateX(-50%);
  border-radius: 1px;
}

.nav-links a:hover {
  color: #228b22;
}
.nav-links a:hover::before {
  width: 100%;
}

/* Social Links */
.social-links {
  display: flex;
  list-style: none;
  align-items: baseline;
}

.social-links a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ccc;
}

.social-links img {
  width: 24px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
  z-index: 1000;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #32cd32;
  transition: all 0.3s ease;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links,
  .social-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    padding: 2rem 1rem;
    overflow-y: auto;
    padding-top: 5rem;
    z-index: 1000;
  }

  .nav-links.active li {
    margin-top: 1rem;
  }

  .nav-links.active li:first-child {
    margin-top: 0;
  }

  .social-links.active {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 1rem;
    right: 7rem;
    padding: 1rem;
  }

  .social-links.active li {
    margin-left: 1rem;
  }

  .social-links.active li:first-child {
    margin-left: 0;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

/* Parallax styles */
html,
body {
  background-color: #fedcc8;
  height: 100%;
  overflow: hidden;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.parallax__layer__0 img {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.parallax__layer__1 {
  transform: translateZ(-100px) scale(2);
}

.parallax__layer__2 {
  transform: translateZ(-75px) scale(1.75);
}

.parallax__layer__3 {
  transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__4 {
  transform: translateZ(-25px) scale(1.25);
}

.parallax__layer__5 {
  transform: translateZ(0px) scale(1);
}

.parallax__cover {
  background: #081404;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 2;
}
/* Hide scrollbar */
.parallax::-webkit-scrollbar {
  display: none;
}
