/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
}

/* Logo */
.logo img {
  width: 100px;
}

/* Navigation */
nav {
  display: flex;
  flex-grow: 1;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

/* Page Links */
.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-links li {
  display: inline;
  margin-left: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ccc;
}

/* Social Links */
.social-links {
  display: flex;
  list-style: none;
}

.social-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ccc;
}

.social-links img {
  width: 24px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links,
  .social-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    padding: 2rem 1rem;
    overflow-y: auto;
    padding-top: 5rem;
  }

  .nav-links.active li {
    margin-top: 1rem;
  }

  .nav-links.active li:first-child {
    margin-top: 0;
  }

  .social-links.active {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 1rem;
    right: 7rem;
    padding: 1rem;
  }

  .social-links.active li {
    margin-left: 1rem;
  }

  .social-links.active li:first-child {
    margin-left: 0;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
